@media screen and (max-width:700px){
    .icons1{
        margin-left: 17.4rem;
    }
    .icons2{
        margin-left: 17.4rem;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 50%;
    }
}

@media screen and (min-width:700px) {
    
    .icons1{
        margin-left: 39rem;
    }
    .icons2{
        margin-left: 39rem;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 50%;
    }
}

/* .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9f9;
    padding: 0px;
    text-align: center;
  } */