html, body{
    font-family: 'Noto Sans';
  }

.recom::-webkit-scrollbar{
  display: none;
}
.productbody{
  margin-left: 11vw;
}
.mainpro{
  height: 300px;
  width: 1200px;
}
.Box{
  width: 20vw;
  height: 40vh;
}
/* Responsive */
@media (max-width:800px){
  .productbody{
    margin-left: 2vw;
  }
  .cardd{
    margin-left: 2px;
  }
  .mainpro{
    width: 100vw;
    height: 40vh;
  }
  .Box{
    width: 100%;
    text-align: center;
    height: 280px;
  }
  #rating{
    margin-top: -40px;
    text-align: center;
  }
  .content1{
    margin-left: 178px;
  }
  
}